*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #00ff4c85;
    font-family: sans-serif;
  }
  .form{
    margin: auto;
    display: revert;
    
    margin: auto;
    

} 
.form{
    width: 500px;
    background-color: #c0f10d;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  form{
    margin: 35px;
  }

input{
    margin: auto;
    display: revert;
    background-color: cornsilk;
    margin: auto;
    /* padding: 25px; */
    width: 60%;
    padding: 10px;
    font-size: larger;
    text-transform: capitalize;
    text-align: start;
    border-style: outset;
    border-radius: initial;
    background: azure;
    padding: 2px;
    margin: 2%;

}
textarea{
    margin: auto;
    display: revert;
    background-color: cornsilk;
    margin: auto;
    /* padding: 25px; */
    width: 60%;
    padding: 10px;
    font-size: larger;
    text-transform: capitalize;
    text-align: start;
    border-style: outset;
    border-radius: initial;
    background: azure;
    padding: 2px;
    margin: 2%;

}
  .btn{
        width: 20%;
          margin: 2%;
          text-align: center;
          align-items: center;
          box-sizing: border-box;
          color: aliceblue;
          background: darkcyan;
          text-transform: capitalize;
          padding: 7px;
          border-width: 2px;
          border-style: none;
  }
  footer{
    position: fixed;
    left: 25px;
    bottom: 20px;
    right: 25px;
    width: 95%;
    text-align: center;
  }
nav{
    background-color: rgb(116 118 155);
    color: white;
    height: 50px;
    text-align: center;
    margin: 5px;
}
li{
   color: #1c1616;
   display: inline-block;
   margin: 7px;
   padding: 5px;
}
a{
    color: rgb(255 82 0);
}
